{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_title%}
Index
{%endblock%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            {% for category in categories %}
        <li>
            <a class="btn btn-primary" href="{% url "products_by_category" category %}"> {{ category }}</a> 
        </li>
    {% endfor %}
        </div>
    </div>
</div>

{% endblock %}